#letters-board{
  padding: 5px;
  width: 50%;
}

#input-answer{
  display: none;
}

.l-questions{
  max-height: 22px;
  min-width: 30px;
  padding: 5px 5px;
  display: table-cell;
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
  border-radius: 50%;
  background: #3498DB;
  border: 5px solid #3498DB;
  color: white;
}

#quest-answ{
  width: 40%;
  height: 30%;
  border: 2px solid black;
}
