*{
  margin: 0;
  position: relative;
  background-color: #5391fa;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 900;
}

#quest-answ{
  display: none;
  width: 40%;
  height: 20%;
  position: absolute;
  top: 19%;
  left: 25%;
  margin: 0;
  transform: translate(-50%, -50%);
  color: #fff;
}

#quest-answ > #question {
  padding-bottom: 2%;
}

#quest-answ > input {
  height: 39.75px;
  border: 0;
  border-radius: 3px;
  overflow: visible;
  background-color: white;
}

.btn {
  display: inline-block;
  padding: .25em .5em;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: #0074d9;
  color: #fff;
  font-weight: 900;
  line-height: 1.6875em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

#quest-answ > #check-question{
  background-color: #9ee379;
}

#description-start{
  max-width: 50%;
  min-height: 100%;
  padding: 0;
}

#description{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  color: #fff;

}

#description h4{
  font-size: 1.50rem;
  text-transform: uppercase;
  margin-bottom: 1em;
}

#description p{
  font-size: 0.90rem;
  font-weight: 500;
  margin-bottom: 1em;
}

#start-game{
  margin-top: 1em;
  display: inline-block;
  padding: 1em 1.5em;
  border: 2px solid #fff;
  border-radius: 16px;
  background-color: #0074d9;
  color: #fff;
  font-weight: 900;
  line-height: 2em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.s-board{
  padding-top: 2em;
  width: 100%;
}
@media (min-width: 54.75em) {
    .s-board{
      position: relative;
      width: 50%;
      height: 100%;
      padding-top: 0; }
}

.ls-board {
  position: relative;
  width: 20%;
  height: 100%;
  border-radius: 50%;
  padding: 0;
  left: 50%;
}

.ls-board > * {
  display: block;
  position: absolute;
  top: -55%;
  left: 405%;
  width: 2.25em;
  height: 2.25em;
  margin: -1.125em;
}

.ls-board > #lettersA {
  transform: rotate(270deg) translate(10.6875em) rotate(-270deg); }
.ls-board > #lettersB {
  transform: rotate(283.29deg) translate(10.6875em) rotate(-283.29deg); }
.ls-board > #lettersC {
  transform: rotate(296.58deg) translate(10.6875em) rotate(-296.58deg); }
.ls-board > #lettersD {
  transform: rotate(309.87deg) translate(10.6875em) rotate(-309.87deg); }
.ls-board > #lettersE {
  transform: rotate(323.16deg) translate(10.6875em) rotate(-323.16deg); }
.ls-board > #lettersF {
  transform: rotate(336.45deg) translate(10.6875em) rotate(-336.45deg); }
.ls-board > #lettersG {
  transform: rotate(349.74deg) translate(10.6875em) rotate(-349.74deg); }
.ls-board > #lettersH {
  transform: rotate(363.03deg) translate(10.6875em) rotate(-363.03deg); }
.ls-board > #lettersI {
  transform: rotate(376.32deg) translate(10.6875em) rotate(-376.32deg); }
.ls-board > #lettersJ {
  transform: rotate(389.61deg) translate(10.6875em) rotate(-389.61deg); }
.ls-board > #lettersK {
  transform: rotate(402.90deg) translate(10.6875em) rotate(-402.90deg); }
.ls-board > #lettersL {
  transform: rotate(416.19deg) translate(10.6875em) rotate(-416.19deg); }
.ls-board > #lettersM {
  transform: rotate(429.48deg) translate(10.6875em) rotate(-429.48deg); }
.ls-board > #lettersN {
  transform: rotate(442.77deg) translate(10.6875em) rotate(-442.77deg); }
.ls-board > #lettersÑ {
  transform: rotate(456.06deg) translate(10.6875em) rotate(-456.06deg); }
.ls-board > #lettersO {
  transform: rotate(469.35deg) translate(10.6875em) rotate(-469.35deg); }
.ls-board > #lettersP {
  transform: rotate(482.64deg) translate(10.6875em) rotate(-482.64deg); }
.ls-board > #lettersQ {
  transform: rotate(495.93deg) translate(10.6875em) rotate(-495.93deg); }
.ls-board > #lettersR {
  transform: rotate(509.22deg) translate(10.6875em) rotate(-509.22deg); }
.ls-board > #lettersS {
  transform: rotate(522.51deg) translate(10.6875em) rotate(-522.51deg); }
.ls-board > #lettersT {
  transform: rotate(535.80deg) translate(10.6875em) rotate(-535.80deg); }
.ls-board > #lettersU {
  transform: rotate(549.09deg) translate(10.6875em) rotate(-549.09deg); }
.ls-board > #lettersV {
  transform: rotate(562.38deg) translate(10.6875em) rotate(-562.38deg); }
.ls-board > #lettersW {
  transform: rotate(575.67deg) translate(10.6875em) rotate(-575.67deg); }
.ls-board > #lettersX {
  transform: rotate(588.96deg) translate(10.6875em) rotate(-588.96deg); }
.ls-board > #lettersY {
  transform: rotate(602.25deg) translate(10.6875em) rotate(-602.25deg); }
.ls-board > #lettersZ {
  transform: rotate(615.54deg) translate(10.6875em) rotate(-615.54deg); }




.l-questions{
  display: block;
  width: 2.25em;
  height: 2.25em;
  transition: all .3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 50%;
  background-image: radial-gradient(circle, #0074d9, #004b8d);
  color: #fff;
  line-height: 2.25em;
  text-align: center;
  text-decoration: none;
  cursor: default;
}

.c-time{
  display: block;
  width: 2.75em;
  height: 2.5em;
  transition: all .3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 50%;
  background-image: radial-gradient(circle, #0074d9, #004b8d);
  color: #fff;
  line-height: 2.25em;
  text-align: center;
  font-size: 2rem;
  padding-top: 2%;
  position: absolute;
  top: -60%;
  left: 175%;
}

.c-correctQ{
  display: block;
  width: 2em;
  height: 2em;
  border: 2px solid #fff;
  background-image: radial-gradient(circle, #0074d9, #004b8d);
  color: #fff;
  line-height: 2.25em;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  top: -40%;
  left: 177%;
}

#end-game{
  display: none;
  color: white;
  font-size: 2.5em;
}
